@import '../../assets/styles/variables.scss';

.input {
  border: 2px solid #fff;
  width: 100%;
  background: #fff;
  height: 52px;
  border-radius: 4px;
  outline: none;
  padding: 0 16px;
  font-size: 16px;
  color: $gray-200;
  transition: border-color 0.2s ease-in;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);

  &:focus {
    border-color: $primary-color-main;
  }
}
