@import '../../assets/styles/variables.scss';
.container {

}

.input {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0 16px;

  &::placeholder {
    color: $gray-200;
  }

  &:focus {
    outline: none;
  }
}

.header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  strong {
    color: $text-color;
    font-size: 24px;
  }

  a {
    text-decoration: none;
    color: $primary-color-main;
    font-weight: bold;
    border: 2px solid $primary-color-main;
    border-radius: 4px;
    padding: 8px 16px;
    transition: all 0.2s ease-in;

    &:hover {
      background: $primary-color-main;
      color: #fff;
    }
  }
}

.wrapper {
  margin-top: 24px;

  header {
    margin-bottom: 8px;

    button {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;

      span {
        font-weight: bold;
        color: $primary-color-main;
        margin-right: 8px;
      }
    }
  }
}

.card {
  background: #fff;
  padding: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & + & {
    margin-top: 16px;
  }

  .info {
    .contactName{
      display: flex;
      align-items: center;

      small {
        font-size: 12px;
        background: $primary-color-lighter;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 3px 6px;
        font-weight: bold;
        color: $primary-color-main;
        margin-left: 8px;
      }
    }

    span {
      display: block;
      color: $gray-200;
      font-size: 14px;
      margin-top: 4px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    button {
      background: transparent;
      border:none;
      margin-left: 8px;
    }
  }
}
